.miContenedor
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}

.miEstilo
    background-color: #ff6347;
    margin-bottom
    padding:100px; 
    h1 {text-align: center;}    
    p {text-align: center;}
    div {text-align: center;}
.miEstiloII
    h1 {text-align: center;}    
    p {text-align: center;}
    div {text-align: center;}
.miAlineacion
    {20,15,50; padding}